@import "./vars.scss";
.errorModal-container {
    .card-container {
        background-color: $red;
        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 20px;
            span {
                font-size: 7rem;
            }
            .round-btn {
                color: $red;
                background-color: $fourth-color;
            }
        }
    }
}
